@font-face {
    font-family: "norse-bold";
    src: url("src/fonts/norse-bold-webfont.woff2") format("woff2");
    src: url("src/fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
    flex: 3;
    background: url(src/background.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    margin-top: 20rem;
}

.logo h1 {
    font-family: "norse-bold", monospace;
    font-size: 10rem;
    margin: 3rem 0;
}

.logo img {
    height: 15rem;
}

.bg-image p {
    text-align: center;
    font-size: 1.4rem;
}

.bg-image p a:visited,
.bg-image p a:link {
    color: white;
}

.container {
    flex: 6;
    background-color: #f8f8f7;
}

.disclaimer p {
    margin: 12rem 5rem 7rem 5rem;
    max-width: 55ch;
    font-size: 2.5rem;
    font-weight: 600;
}

.form-container {
    background-color: white;
    padding: 2rem 5rem 4.5rem 5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

form legend {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.form-row {
    display: flex;
}

.form-row:not(:last-child) {
    margin-bottom: 2.25rem;
}

.form-cell {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    position: relative
}

.form-cell label {
    letter-spacing: 0.3ch;
    margin-bottom: 0.2rem;
}

.form-cell input {
    border: 1px solid #A9A9A9;
    font-size: 1.5rem;
    padding: 0.75rem 1.2rem;
    border-radius: 5px;
    width: 30rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-cell input:focus,
.form-cell input:focus-visible {
    border-color: blue;
    outline: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.form-cell input:invalid,
.invalid {
    border-color: red;
}

.form-button {
    margin: 3rem 5rem 3rem;
    padding: 1.3rem 5rem;

    background-color: #596d48;
    color: white;

    border: none;
    border-radius: 7.5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}

.account-exists p {
    margin: 0;
    margin-left: 5rem;
    font-size: 1.75rem;
}

.account-exists p a {
    color: #5b6f4a;
    font-weight: bold;
    text-decoration: none;
}

.account-exists p a:hover {
    text-decoration: underline;
}

.password-requirements {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 1.25rem;
    position: absolute;
    top: 6rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}